@import url(https://fonts.googleapis.com/css?family=Lato:300,400,900);
body,
html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: "Lato";
  background: #222;
}

.leftpad {
    padding-left: 10px;
}

.botpad {
    padding-bottom: 10px;
}

.menu {
  width: 100%;
  height: 50px;
  position: fixed;
  background: #222;
  top: 0;
  z-index: 111;
  line-height: 50px;
  padding: 5px;
  border-bottom: 1px solid rgba(207, 59, 40, 0.3);
}

.menu a {
  text-decoration: none;
  color: inherit;
}

.menu h1 {
  margin: 0 0 0 10px;
  font-weight: 400;
  color: #eaeaea;
  width: 55px;
  cursor: pointer;
  display: inline-block;
  border-right: 1px solid #444;
  line-height: 50px;
  font-size: 25px;
  transition: all 0.3s;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
}

.menu h1 span {
  color: #cf3b28;
  transition: all 0.2s;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
}

.menu h1:hover {
  color: #666;
}

.menu h1:hover span {
  color: #666;
}

.topnav {
  list-style: none;
  margin: 0;
  padding: 0;
  height: 50px;
  display: inline-block;
  font-weight: 300;
  color: #eaeaea;
  font-size: 15px;
  letter-spacing: 1px;
}

.topnav li {
  text-align: center;
  color: #eaeaea;
  margin: 0 7px;
  display: inline-block;
  font-size: 30px;
  line-height: 50px;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
}

.topnav li:first-child {
  margin-left: 10px;
}

.topnav li:hover {
  color: #cf3b28;
  transform: rotate(10deg);
  -webkit-transform: rotate(10deg);
}

.topnav a {
  text-decoration: none;
  color: inherit;
}

.head {
  color: #eaeaea;
  background: #222;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 60px;
  height: 100vh;
  width: 100vw;
  position: relative;
  z-index: 1111;
  text-align: center;
  line-height: 25px;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
}

.head-hide {
  height: 0;
  opacity: 0;
}

.down {
  width: 20px;
  height: 20px;
  opacity: 0.2;
  border-bottom: 5px solid #cf3b28;
  border-right: 5px solid #cf3b28;
  position: absolute;
  bottom: 13px;
  left: 50%;
  cursor: pointer;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
}

.down:before {
  content: "scroll";
  opacity: 0;
  position: absolute;
  right: -10px;
  top: -10px;
  font-size: 15px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
}

.down:hover:before {
  opacity: 1;
}

.head span {
  font-weight: 900;
}

.name {
  width: 500px;
  top: 50%;
  position: absolute;
  left: 50%;
  margin-left: -250px;
  margin-top: -30px;
}

.bye {
  position: relative;
}

.sub-name {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: 7px;
  font-weight: 300;
  margin-left: 23px;
  color: #cf3b28;
  font-size: 35px;
}

.content-wrap {
  position: absolute;
  z-index: 1;
}

.sec {
  height: 100vh;
  width: 100vw;
}

.intro {
  background: #333;
  color: #eaeaea;
  text-align: center;
  display: table;
  text-transform: uppercase;
}

.intro .text-contain {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  padding-left: 10px;
}

.intro .text {
  padding-top: 30px;
  text-align: center;
  width: 470px;
  margin: 0 auto;
}

.intro h2 {
  vertical-align: middle;
  font-size: 40px;
  margin: -5px 0;
}

.intro h3 {
  font-weight: 300;
  color: #cf3b28;
  font-size: 19px;
  letter-spacing: 0.5px;
  margin: 0;
}

.intro h5 {
  font-weight: 900;
  color: #1e1e1e;
  margin: 0;
  font-size: 15px;
  letter-spacing: 3.9px;
}

#bot-h5 {
  color: #eaeaea;
  font-weight: 300;
  letter-spacing: 10px;
  margin-top: 30px;
}

.pg-btn {
  width: 150px;
  height: 15px;
  line-height: 15px;
  border-bottom: 1px solid #eaeaea;
  padding: 10px 0;
  cursor: pointer;
  font-weight: 300;
  font-size: 15px;
}

.begin {
  margin: 30px auto;
  letter-spacing: 5px;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
}

.begin:hover {
  background: #222;
  border-bottom: 1px solid #cf3b28;
  letter-spacing: 6px;
}

.side {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 100%;
  width: 100%;
  z-index: 11;
  height: auto;
  overflow-y: scroll;
  overflow-x: hidden;
  background: #eaeaea;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
}

.unseen {
  display: none;
}

.showing {
  left: 0;
}

.desc {
  margin-top: 250px;
}

.space {
  margin-top: 50px;
}

.desc h1 {
  text-align: right;
  font-size: 30px;
  padding-right: 10px;
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 5px;
  line-height: 45px;
}

.sec-A h1 {
  color: #cf3b28;
  border-bottom: 1px solid #cf3b28;
}

.sec-A h1 span {
  font-weight: 300;
  font-size: 25px;
  color: #aaa;
  line-height: 0;
}

.photos ul {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
  text-align: center;
}

.photos li {
  text-align: center;
  display: inline-block;
  min-width: 350px;
  margin: 10px;
}

.photos img {
  max-width: 100%;
  height: 600px;
}

.sub-btn {
  margin: 0 auto;
  width: 120px;
  text-align: center;
  text-transform: uppercase;
  height: 15px;
  padding: 10px 0;
  font-weight: 300;
  line-height: 15px;
  font-size: 15px;
  letter-spacing: 3px;
  cursor: pointer;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
}

.code-btn {
  border-bottom: 1px solid #222;
  background: #eaeaea;
  color: #cf3b28;
}

.code-btn:hover {
  background: #222;
  letter-spacing: 4px;
  border-bottom: 1px solid #cf3b28;
  color: #eaeaea;
}

.back-btn {
  background: #cf3b28;
  color: #eaeaea;
  border-bottom: 1px solid #222;
}

.back-btn:hover {
  background: #eaeaea;
  color: #222;
  letter-spacing: 5px;
}

.sec-B {
  background: #cf3b28;
}

a {
    color: black;
}

.sec-B h1 {
  color: #eaeaea;
  border-bottom: 1px solid #eaeaea;
}

.wrapper {
  position: relative;
  height: 350px;
  background-color: #f5f5f5;
}

.outer-image {
  width: 50%;
  margin: 0 auto;
}

.header {
  background-image: url("jake.png");
  left: 50%;
  margin-left: -100px;
  border-radius: 100%;
  height: 200px;
  width: 200px;
  margin: 0 auto;
  top: 150px;
  left: 200px;
  overflow: hidden;
  position: absolute;
  z-index: 1;
  border: 2px solid #cf3b28;
}
